body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: justify;
}

.smarthome{
  color: #007bff;
  font-weight: 800;
}

p{
  font-weight: 600;
  font-size: medium;
}

.welcome{
  float: left;
  padding: 20% 0% 20% 10%;
}
.btnStart{
  float: left;
  margin-top: -20%;
  margin-left: 10%;
}

.smartH_img{
  float: right;
}
.img
{
    width: 40%;
    height: auto;
    margin-left: 45%;
    margin-top: -50%;
}

@media screen and (max-width: 700px){

  .img
  {
      width: 55%;
      height: auto;
      margin-left: 25%;
      margin-top: 0%;
  }

  .welcome{
    padding: 20% 0% 5% 5%;
  }
  
  .smartH_img{
      margin-left: -30%;
      margin-top: 20%;
      margin-bottom: 14%;
      margin-right: -24%;
  }

  .btnStart{
    float: none;
    text-align: center;
    margin-top: 0%;
    margin-left: 0%;
  }

  }